* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    background-color: #f93800;
}

/*MENU*/
.flower-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.flower-menu-item {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flower-menu-item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-image: url("../Media/logol.png");
    background-size: cover;
    border-radius: 50%;
}

.flower-menu-item:hover:before {
    width: 80px;
    height: 80px;
}

.flower-menu-item:hover .flower-menu-label {
    opacity: 1;
    transform: translateY(-10px);
}

.flower-menu-label {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-style: italic;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.flower-menu-description {
    font-size: 11px;
    font-style: italic;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.flower-menu-item:nth-child(1) {
    background-color: #efc9af;
    background-size: cover;
}

.flower-menu-item:nth-child(2) {
    background-color: #efc9af;
    background-size: cover;
}

.flower-menu-item:nth-child(3) {
    background-color: #efc9af;
    background-size: cover;
}

.flower-menu-item:nth-child(4) {
    background-color: #efc9af;
    background-size: cover;
}

.flower-menu-item:nth-child(5) {
    background-color: #efc9af;
    background-size: cover;
}

.flower-menu-item:nth-child(6) {
    background-color: #efc9af;
    background-size: cover;
}

/* FIN DE MENU*/

/* PORTADA */

.portada {
    flex: 1;
    text-align: center;
    margin: 20px 0;
    background-color: #F93800;
}

.portada img {
    max-width: 100%;
    height: auto;
}

/* FIN DE PORTADA */

/* SUB PORTADA */

.containersubportada {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      
      .rectangle {
        height: 250px;
        border: 5px solid #efc9af;
        border-radius: 8px;
        overflow: hidden;
      }
      
      .rectangle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }  
      

/* FIN DE SUB PORTADA */

/*CONTENIDO DEL INDEX*/
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #F93800;

}

section {
    background-color: #efc9af;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

section img {
    flex: 0 0 30%;
    margin-right: 20px;
    border-radius: 250%;
    width: 250px;
    height: 250px;

}


/*FIN DEL CONTENIDO DEL INDEX*/

/* SECTOR FINAL*/
#final {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;

}

#final .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

}

#final .round-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#final .description {
    text-align: center;
}

/*FIN DEL SECTOR FINAL*/

/* GIFTCARD */

.sectorgiftcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efc9af;
    padding: 20px;
  }
  
  .seccion img {
    max-width: 100%;
    height: auto;
  }

  .descripcion {
    background-color: #efc9af;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  .descripcion h2 {
    color: black;
    font-size: 28px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .descripcion p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
  }
  
/* FIN DE GIFTCARD */

/* SUCURSALES */
.containersucursales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.block {

    padding: 20px;
    text-align: center;
}

.block img {
    max-width: 100%;
    height: auto;
}

/* FIN DE SUCURSALES */


/* FOOTER */
footer {
    background-color: #f3f3f3;
    padding: 40px 0;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.logo-section {
    justify-self: center;
}

.logo {
    max-width: 250px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul li a img {
    margin-right: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons li a {
    color: #333;
    font-size: 20px;
}

.footer-bottom {
    background-color: #ddd;
    padding: 10px 0;
}

.footer-column:nth-child(2) img,
.footer-column:nth-child(3) img {
    max-width: 50px;
    height: auto;
}

/*FIN DE FOOTER*/


  
  
  
  
  
  